*{
  font-weight: 100;
  font-family: 'Helvetica Neue';
}

#mapid{
  height: 1200px;
  z-index: 0;
}

#save, #delete, #download, #logout, #fences{
  position: absolute;
  top:220px;
  left:20px;
  flex-grow: 1;
}
#save:hover{
  background: rgba(11,72,107, 0.7);
  color: white;
  border: 1px solid white;
}
#download:hover{
  background: rgba(59,134,134, 0.7);
  color:white;
  border: 1px solid white;
}
#delete:hover{
  background: rgba(121,189,154, 0.7);
  color: white;
  border: 1px solid white;
}
#logout:hover{
  background: rgba(168,219,168, 0.7);
  color:white;
  border: 1px solid white;
}
#fences:hover{
  background: rgba(168,219,168, 0.7);
  color:white;
  border: 1px solid white;
}
#download{
  top:250px;
}
#delete{
  top:280px
}
#logout{
  top: 310px;
}

#fences{
  top: 340px;
}

#buttons-container{
  display: flex;
  flex-direction: column;
}
